# --- Web Framework ---
Flask==3.0.0
Werkzeug==3.0.1

# --- Deep Learning (FOR .keras MODELS) ---
tensorflow==2.16.1
keras==3.1.1
numpy>=1.26,<2.0

# --- Image Processing ---
opencv-python-headless
Pillow

# --- Visualization ---
matplotlib

# --- Deployment ---
gunicorn
