# --- Web Framework ---
Flask
Werkzeug

# --- Deep Learning ---
tensorflow
keras

# --- Image Processing ---
opencv-python
Pillow
numpy
huggingface-hub>=0.24.0



# --- For Grad-CAM Visualization ---
matplotlib

# --- Deployment (optional but recommended) ---
gunicorn
